<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
</head>

<body>
    <h1>Bem vindo {{nome}}! Aqui estão suas tarefas!!</h1>
    <table border="1">
        <thead>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Data de criação</th>
        </thead>
        <tbody>
            {% for tarefa in tarefas %}
            <tr>
                <td>{{tarefa.nome}}</td>
                <td>{{tarefa.descricao}}</td>
                <td>{% if tarefa.concluido %}Completo{% else %}Incompleto{% endif %}</td>
                <td>{{tarefa.data_criacao}}</td>
                <td><a href="{% url 'tarefas:edit' tarefa.id %}">Editar</a></td>
                <td><a href="{% url 'tarefas:remove' tarefa.id %}">Remover</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'tarefas:add' %}">Adicionar uma tarefa.</a>
</body>

</html>